html {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --book-cover: 2px 0px 9px 0px rgba(0, 0, 0, 0.75);
}

body {
    text-align: center;

    background: #ebebeb;
}



.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}



.book-list {
    width: 90vw;
    max-width: 1570px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    grid-auto-rows: 1fr;
    //grid-template-columns: repeat(3, 1fr);
    content-visibility: auto;
    // hiding dot above book cards
    list-style-type: none;

}

@media screen and (min-width: 768px) {
    .book-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    position: relative;
    background: #dadada;
    border-radius: 1rem;
    max-width: 352px;
    max-height: 700px;

    .book-cover {
        border-radius: 1rem;
        padding: 1rem 2rem;
        background: #dadada;
        place-self: center;
        opacity: 100%;
        transition-duration: .4s;

        img {
            border-radius: 1rem;
            box-shadow: var(--book-cover);
            width: 100%;
            height: 100%;
        }

        h1 {
            color: #4c5c68;
            margin-top: 0.5rem;
        }

        h4 {
            color: #6f8eaa;
            font-size: .85rem;
        }

        &:hover {
            cursor: pointer;
            opacity: 70%;

        }
    }

    #buyButton {
        margin: 0 0 1rem 0;
        position: absolute;
        bottom: 0;
        width: 70px;
        padding: .8rem;
        color: #47505f;
        background: #a5a8aa;
        outline: none;
        border-radius: .8rem;
        text-decoration: none;
        border: none;
        transition-duration: .4s;

        &:hover {
            color: #ececec;
            cursor: pointer;
            background: #515766 !important;
        }
    }

    .buy-section {
        display: flex;
        justify-content: center;
        height: 35px;
    }
}

input {
    margin: 1rem;
    background: #aeaeae;
    border: none;
    padding: .5rem;
    border-radius: 2rem;
    outline: none;
    text-decoration: none;
}

::placeholder {
    color: #515766;
}